<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="File" fileName="/home/pishen/logtest.log">
			<PatternLayout pattern="F [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</appenders>
	<loggers>
		<root level="error">
			<appender-ref ref="File" />
		</root>
	</loggers>
</configuration>