button.dark-red {
	display: inline-block;
	box-shadow: inset 0px 1px 0px 0px #f5978e;
	background-color: #f24537;
	text-indent: 0;
	border: 1px solid #d02718;
	color: white;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 35px;
	line-height: 35px;
	width: 90px;
	text-decoration: none;
	text-align: center;
}

button.dark-red:hover {
	background-color: #c62d1f;
}

button.dark-red:active {
	position: relative;
	top: 1px;
}

.grey {
	display: inline-block;
	box-shadow: inset 0px 1px 0px 0px #CCCCCC;
	background-color: #999999;
	border: 1px solid #4C4C4C;
	color: white;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	width: 90px;
	height: 35px;
	text-align: center;
}

button.grey:hover {
	background-color: #7A7A7A;
}

button.grey:active {
	position: relative;
	top: 1px;
}

button.fb {
	display: inline-block;
	box-shadow: inset 0px 1px 0px 0px #536FAB;
	background-color: #3b5998;
	border: 1px solid #23355B;
	color: white;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	width: 200px;
	height: 35px;
	text-align: center;
}

button.fb:hover {
	background-color: #2F477A;
}

button.fb:active {
	position: relative;
	top: 1px;
}