@import url(https://fonts.googleapis.com/css?family=Nova+Square);

/* general */

body {
    color: white;
    background-color: #413839;
}

a.plain:link,
a.plain:visited,
a.plain:hover,
a.plain:active {
    color: white;
}

.btn {
    border: 0px none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.alert {
    border: 0px;
}

.hr {
    height: 1px;
    background: #8D8888;
}

/* modal */

.modal-content {
    background: #676061;
}

.modal-header {
    border: 0px;
}

.modal-body,.modal-footer {
    border-top: 1px solid #8D8888;
}

.close {
    color: white;
    opacity: 0.5;
}

.close:hover {
    color: white;
    opacity: 1;
}

/* header */

.logo {
    text-align: center;
    color: #ff8080;
    margin: 5px 0px;
    font-size: 60px;
    font-family: 'Nova Square', cursive;
}

/* player */

.player-pad {
    height: 70px;
}

.player-wrap {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.player-wrap:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.player-bg {
    background-position: center;
    box-shadow: 0 0 10px black;
}

#player {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* controls */

#controls {
    position: relative;
    margin: 20px 0px;
}

#player-controls {
    position: relative;
    max-width: 640px;
}

#playback {
    position: relative;
    box-shadow: 0 3px 0 0 #991B00;
}

#playback:active {
    box-shadow: none;
    top: 3px;
}

#volume {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    padding: 0;
    background: transparent;
}

.settings-btn {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0px;
    right: 0px;
}

.settings-btn>.bar {
    position: absolute;
    left: 8px;
    width: 28px;
    height: 5px;
    background-color: white;
}

.settings-btn:hover {
    cursor: pointer;
}

.settings-btn:hover>.bar {
    background-color: #D9534F;
}

.settings-btn>.bar:first-child {
    top: 9px;
}

.settings-btn>.bar:nth-child(2) {
    top: 19px;
}

.settings-btn>.bar:last-child {
    top: 29px;
}

/* chat panel */

#chat-log {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-user {
    color: gold;
    font-weight: bold;
}

.chat-time {
    color: gray;
}

/* status */

.status {
    font-size: 21px;
}

.number {
    font-size: 40px;
}

#clientNames {
    max-height: 300px;
    font-size: 16px;
    color: gold;
}

/* playlist */

#playlist {
    position: relative;
    width: 100%;
    height: 675px;
    margin: 10px 0;
}

.song {
    position: absolute;
    width: 220px;
    height: 124px;
    overflow: hidden;
    transition: all 1s;
}

.song>div {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s;
    opacity: 0;
}

a.yt-link {
    display: block;
    margin: 5px;
    font-size: 13px;
}

.overlay>span {
    font-size: 13px;
    color: #FFCC00;
}

.request {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.overlay:hover {
    opacity: 1;
}

/* about */

#about {
    max-width: 340px;
    margin: 30px auto;
}

#about dd {
    margin-bottom: 5px;
}
