@import url(http://fonts.googleapis.com/css?family=Redressed);

body {
	background-color: #413839;
	font-family: 'Cabin Condensed', sans-serif;
	color: white;
}

.wrapper {
	width: 95%;
	max-width: 960px;
	position: relative;
	margin: auto;
}

#logo {
	text-align: center;
	color: hotpink;
	font-size: 3.2em;
	font-family: 'Redressed', cursive;
}

#player-wrapper {
	position: relative;
	width: 100%;
	height: 500px;
	background-image: url('/assets/images/38669514_p14.jpg');
	background-size: 100%;
	background-position: center;
}

iframe {
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#sync {
	display: block;
	margin: 1.5em auto;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
	text-align: center;
}

hr:after {
	content: "♪";
    display: inline-block;
    position: relative; 
    top: -0.6em;
    font-size: 1.5em;
    padding: 0 0.25em;
    color: white;
    background: #413839;
}

#client-count {
	font-size: 1.2em;
	text-align: center;
}

#client-count span {
	font-size: 4em;
}

@media only screen and (max-width: 480px) {
	#player-wrapper {
		height: 207px;
	}
	iframe {
		width: 368px;
		height: 207px;
	}
}