@import url(http://fonts.googleapis.com/css?family=Bad+Script);

/* basic styles */
body {
	background-color: #413839;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

a:hover {
	background-color: gray;
}

a:link,a:visited {
	color: white;
}

.h-center {
	display: block;
	margin: auto;
}

/* custom styles */
.wrapper {
	width: 95%;
	max-width: 960px;
	position: relative;
	margin: 0 auto;
}

.logo {
	text-align: center;
	color: #ff8080;
	font-size: 3em;
	font-weight: 700;
	font-family: 'Bad Script', cursive;
}

#player-background {
	position: relative;
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 10px black;
}

#player {
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#controls {
	position: relative;
	margin: 1em 0;
}

#player-controls {
	position: relative;
	margin: auto;
	width: 640px;
	text-align: center;
	margin: auto;
}

#volume {
	position: absolute;
	right: 0;
	height: 35px;
	width: 150px;
	padding: 0;
	background: transparent;
}

#setting-switch {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 35px;
	background-color: transparent;
	padding-top: 7px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#setting-switch:hover div {
	background-color: #f24537;
}

.setting-switch-bar {
	position: relative;
	background-color: white;
	width: 24px;
	height: 4px;
	margin: 0 auto 5px auto;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	transition: opacity 100ms ease-in;
	pointer-events: none;
}

.modal:target {
	opacity: 1;
	pointer-events: auto;
}

.modal>div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: gray;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
}

.close:hover {
	background: #f24537;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
	text-align: center;
}

hr:after {
	content: "♪";
	display: inline-block;
	position: relative;
	top: -0.6em;
	font-size: 1.5em;
	padding: 0 0.25em;
	color: white;
	background: #413839;
}

#client-count {
	text-align: center;
}

#client-count .num {
	font-size: 3em;
}

#chat-log {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

#chat-log p {
	margin: 5px 0;
}

#chat-log .light {
	background-color: dimgray;
}

#chat-log .color {
	color: gold;
}

#new-msg {
	margin: 5px 0;
	padding: 5px;
	background-color: white;
	padding: 5px;
	box-shadow: inset 0 0 3px black;
}

#new-msg textarea {
	width: 100%;
	outline: none;
	resize: none;
	border: 0px;
}

#playlist {
	overflow-x: auto;
	white-space: nowrap;
}

#playlist span {
	height: 90px;
	display: inline-block;
}

.about {
	text-align: center;
	max-width: 700px;
	margin: 1em, 0;
}

@media only screen and (max-width: 810px) {
	#player-controls {
		display: none;
	}
	#player-background {
		height: 207px;
	}
	iframe {
		width: 368px;
		height: 207px;
	}
	.modal>div{
		width: 80%;
	}
	hr {
		display: none;
	}
}