<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	<appenders>
		<File name="File" fileName="${env:TOMCAT_HOME}/logs/vocaradio.log">
			<PatternLayout pattern="%d{HH:mm:ss}{GMT+8} [%level] %logger{1} - %msg%n" />
		</File>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="File" />
		</root>
	</loggers>
</configuration>