<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<!--<File name="File" fileName="${env:TOMCAT_HOME}/logs/vocaradio.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss} [%level] %logger{1} - %msg%n" />
		</File>-->
		<RollingFile name="RollingFile" filename="${env:TOMCAT_HOME}/logs/vocaradio.log"
			filePattern="${env:TOMCAT_HOME}/logs/vocaradio-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{HH:mm:ss} [%level] %logger{1} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="RollingFile" />
		</root>
	</loggers>
</configuration>