@()

<!DOCTYPE html>

<html>
<head>
<title>VocaStation</title>
<meta name="viewport" content="width=device-width, user-scalable=false" />
<link rel="shortcut icon" type="image/png"
	href="assets/images/favicon.png">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="assets/javascripts/backend.js"></script>
<style type="text/css">
</style>
</head>
<body>
	<div id="fb-root"></div>
	<div id="entries">
		<button id="status-error">status error</button>
		<input>
		<button id="song-by-id">song by id</button>
		<button id="song-by-title">song by title</button>
	</div>
	<div id="content"></div>
</body>
</html>





