@()
<!DOCTYPE html>
<html>
    <head>
        <title>VocaRadio - backend</title>
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>VocaRadio Backend</h1>
            <button id="shift-btn" class="btn btn-danger">Shift</button>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/assets/javascripts/backend.js"></script>
    </body>
</html>
