<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=false;">
<title>VocaRadio</title>
<link href='http://fonts.googleapis.com/css?family=Cabin+Condensed'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" media="screen"
	href="assets/stylesheets/normalize.css">
<link rel="stylesheet" media="screen" href="assets/stylesheets/col.css">
<link rel="stylesheet" media="screen"
	href="assets/stylesheets/4cols.css">
<link rel="stylesheet" media="screen"
	href="assets/stylesheets/button.css">
<link rel="stylesheet" media="screen" href="assets/stylesheets/main.css">
<link rel="shortcut icon" type="image/png"
	href="assets/images/favicon.png">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="assets/javascripts/main.js"></script>
</head>
<body>
	<div class="wrapper">
		<header class="section group">
			<h1 id="logo">VocaRadio</h1>
		</header>
	</div>
	<div id="player-wrapper">
		<div id="player"></div>
	</div>
	<div class="wrapper">
		<button id="sync" class="dark-red">Sync</button>
		<hr/>
		<div class="section group">	
			<div class="module col span_2_of_4">
				<h1>Chat</h1>
				<p>websocket chat room</p>
			</div>
			<div class="module col span_2_of_4">
				<h1>About</h1>
			</div>
		</div>
	</div>
</body>
</html>





