<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=false;">
<title>VocaRadio</title>
<link rel="stylesheet" media="screen"
	href="assets/stylesheets/normalize.css">
<link rel="stylesheet" media="screen" href="assets/stylesheets/col.css">
<link rel="stylesheet" media="screen"
	href="assets/stylesheets/4cols.css">
<link rel="stylesheet" media="screen"
	href="assets/stylesheets/button.css">
<link rel="stylesheet" media="screen" href="assets/stylesheets/main.css">
<link rel="shortcut icon" type="image/png"
	href="assets/images/favicon.png">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="assets/javascripts/main.js"></script>
</head>
<body>
	<div class="wrapper">
		<header class="section group">
			<div class="logo">VocaRadio</div>
		</header>
	</div>
	<div id="player-wrapper">
		<div id="player"></div>
	</div>
	<div class="wrapper">
		<button id="sync" class="dark-red">Sync</button>
		<hr />
		<div class="section group">
			<div class="module col span_4_of_4">
				<div id="client-count">
					<span></span> listener(s)
				</div>
			</div>
		</div>
	</div>
</body>
</html>





