@(verification: xml.Elem)
<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="24hr self-driven VOCALOID radio station" />
    <meta name="keywords" content="vocaloid, radio, miku" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VocaRadio - 24hr VOCALOID 自動電台</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/pos.css">
    <link rel="stylesheet" href="/assets/stylesheets/index.css">
</head>

<body>
    <!-- overlap content -->
    <div id="settings-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Settings</h4>
                </div>
                <div class="modal-body">
                    <p class="alert alert-success">Login with Google and fill in your name to turn on the full power.</p>
                    <form>
                        <div class="form-group">
                            <label>Verification</label>
                            @verification
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" id="username" placeholder="Your name">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- default content -->
    <div class="logo">VocaRadio</div>
    <div class="player-bg">
        <div class="player-pad hidden-xs"></div>
        <div class="player-wrap">
            <div id="player"></div>
        </div>
        <div class="player-pad hidden-xs"></div>
    </div>
    <div class="container">
        <div id="controls">
            <div id="player-controls" class="center-block">
                <button id="playback" class="btn btn-lg btn-danger center-block">PLAY</button>
                <input id="volume" class="hidden-xs hidden-sm" type="range" min="0" max="100" value="50" />
            </div>
            <!-- change to use font awesome for three bars -->
            <div class="settings-btn" title="Settings" data-toggle="modal" data-target="#settings-modal">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="hr"></div>
    <div class="container">
        <div class="row" style="margin-top:15px;">
            <div class="col-sm-6">
                <p class="lead text-center"><span id="numOfListeners" class="number">*</span> listeners are online.</p>
            </div>
            <div class="col-sm-6">
                <div id="chat-log"></div>
                <textarea id="new-chat" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div id="playlist"></div>
        <div id="about">
            <dl class="dl-horizontal">
                <dt>DJ</dt>
                <dd>
                    <a class="plain" href="http://facebook.com/pishen" target="_blank">Pishen</a>
                </dd>
                <dt>イラスト</dt>
                <dd>有熊黑白</dd>
                <dt>入台音效</dt>
                <dd>
                    <a class="plain" href="http://goo.gl/4AKWYn" target="_blank">yoyo幫尼</a>
                </dd>
                <dt>Facebook Page</dt>
                <dd>
                    <a class="plain" href="https://www.facebook.com/vocaradio" target="_blank">facebook/vocaradio</a>
                </dd>
            </dl>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/assets/javascripts/index.js"></script>
</body>

</html>
