*{
    margin:0px;
    padding:0px;
}

html{
    position:relative;
    min-height:100%;
}

body{
	background-color:#413839;
	background-position: 0% 100%;
	font-family:Verdana, Geneva, sans-serif;
	color:white;
}

div#left-bg{
    position:fixed;
    bottom:0px;
    width:420px;
    height:900px;
    background-image:url('35503912-black-edge.png');
    background-repeat:no-repeat;
    background-position: 0% 200%;
    background-size: 520px;
    z-index:-2;
}

div#left-panel{
    position:fixed;
    top:100px;
    left:270px;
    width:120px;
}

div#left-panel h1{
    float:right;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.0em;
    color: hotpink;
}

nav ul{
    list-style-type:none;
    margin-top:70px;
}

nav li{
    float:right;
    font-weight:bold;
    color:white;
    text-align:right;
    margin: 3px 0 3px 0;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
    font-size:1.2em;
}

nav li:hover, nav li.selected{
    background-color:deeppink;
    cursor:pointer;
}

div#right-bg{
    position:fixed;
    left:420px;
    width:800px;
    top:0px;
    height:900px;
    background-color:gray;
    z-index:-1;
    box-shadow: 0 0 10px black;
}

div#right-panel{
    width:800px;
    padding-top:170px;
    margin-left:420px;
    background-color:gray;
}

div#right-panel>div{
    padding-left:30px;
    display:none;
}

div#right-panel>div.selected{
    display:block;
}

div#play p{
    padding:4px;
}

div#play span#status{
    padding:2px 4px 2px 4px;
    font-weight:bold;
    background-color:red;
}

div#play audio{
    padding:5px 0 5px 0;
}

div#thumbnail{
    width:256px;
    height:144px;
    background-color: rgba(0,0,0,0.5);
    margin:0 0 10px 0;
    border-radius:10px;
    text-align:center;
}
